@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype');  /* Add more @font-face rules for other font variations if necessary */
}
.active {
  background: red;
}
